/* You can add global styles to this file, and also import other style files */
@use "./app/layout/layout-component.theme";
@use "@angular/material" as mat;
@use "./m3-theme";
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

$theme: m3-theme.$light-theme;

:root {
  @include layout-component.theme($theme);
  @include mat.all-component-themes($theme);
  @include mat.system-level-colors($theme);
  @include mat.typography-hierarchy($theme);
  @include mat.system-level-typography($theme);

  --my-brand-font: 'Alex Brush';
  --my-headline-font: 'IM Fell English';
  --my-title-font: 'IM Fell English';
  --my-plain-font: 'Ledger';

  --md-ref-typeface-brand: var(--my-brand-font);
  --md-ref-typeface-plain: var(--my-plain-font);

  --md-sys-display-large-font: var(--my-headline-font);
  --md-sys-typescale-title-font: var(--my-title-font);

  @include mat.core();
  @include mat.color-variants-backwards-compatibility($theme);
}

html, body { height: 100%; }
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  --mat-list-active-indicator-color {
    background: mat.get-theme-color($theme, primary, 40);
  };
}
