
<form class="vehicleForm" [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="full-width">
      <mat-label for="title">Title:</mat-label>
      <input matInput type="text" class="form-control" id="title" formControlName="title" required>
  </mat-form-field>
  <mat-form-field class="full-width">
      <mat-label for="category">Category:</mat-label>
      <mat-select formControlName="category">
        @for (category of categories | keyvalue; track category.key) {
          <mat-option [value]="category.value">{{category.key}}</mat-option>
        }
      </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width">
      <mat-label for="nickname">Nickname:</mat-label>
      <input matInput type="text" class="form-control" id="nickname" formControlName="nickname">
  </mat-form-field>
  <mat-form-field class="full-width">
      <mat-label for="designation">Designation:</mat-label>
      <input matInput type="text" class="form-control" id="designation" formControlName="designation">
  </mat-form-field>
  <mat-form-field class="full-width">
      <mat-label for="creation">Creation Event:</mat-label>
      <input matInput type="text" class="form-control" id="creation" formControlName="creation">
  </mat-form-field>
  <mat-form-field class="full-width">
      <mat-label for="destruction">Destruction Event:</mat-label>
      <input matInput type="text" class="form-control" id="destruction" formControlName="destruction">
  </mat-form-field>
  <mat-form-field class="full-width">
      <mat-label for="current_location">Current Location:</mat-label>
      <input matInput type="text" class="form-control" id="current_location" formControlName="current_location">
  </mat-form-field>
  <mat-form-field class="full-width">
      <mat-label for="manufacture">Manufacturer:</mat-label>
      <input matInput type="text" class="form-control" id="manufacture" formControlName="manufacture">
  </mat-form-field>
  <mat-form-field class="full-width">
      <mat-label for="owner">Owner:</mat-label>
      <input matInput type="text" class="form-control" id="owner" formControlName="owner">
  </mat-form-field>
  <mat-form-field class="full-width">
      <mat-label for="armor">Armor:</mat-label>
      <input matInput type="text" class="form-control" id="armor" formControlName="armor">
  </mat-form-field>
  <mat-form-field class="full-width">
      <mat-label for="weapons">Weapons:</mat-label>
      <input matInput type="text" class="form-control" id="weapons" formControlName="weapons">
  </mat-form-field>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
