<div style="width: 100%; text-align: center; padding: 25px;">
  <h1>Vehicle</h1>
  <div style="height: 5px; background-color: #77685d;"></div>
</div>
<form>
  <div class="d-flex flex-column" style="width: 680px; margin: auto;">
    <mat-form-field class="mat-Input">
      <mat-label>Input</mat-label>
      <input matInput placeholder="Title" value="">
    </mat-form-field>
    <mat-form-field class="mat-Input">
      <mat-label>Input</mat-label>
      <input matInput placeholder="Title" value="">
    </mat-form-field>
  </div>
</form>

