<div id="content-frame" style="padding: 0px 100px;">
  <div id="banner" style="text-align: center;">
    <h1>Dashboard</h1>
    <div class="divider" style="height: 3px; margin:auto; background-color: #f4e9cd;"></div>
  </div>
  <div id="content" class="d-flex flex-wrap justify-content-center" style="margin: 24px; gap: 24px;">

    <mat-card class="example-card col-lg-2" appearance="outlined">
      <img mat-card-image src="https://cdn.pixabay.com/photo/2017/11/10/05/46/group-2935521_1280.png" alt="Photo of a Shiba Inu">
      <mat-card-header style="min-height: 72px;margin: auto;">
        <mat-card-title>Characters</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="example-card col-lg-2" appearance="outlined">
      <img mat-card-image src="https://cdn.pixabay.com/photo/2017/11/10/05/46/group-2935521_1280.png" alt="Photo of a Shiba Inu">
      <mat-card-header style="min-height: 72px;margin: auto;">
        <mat-card-title>Characters</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="example-card col-lg-2" appearance="outlined">
      <img mat-card-image src="https://cdn.pixabay.com/photo/2017/11/10/05/46/group-2935521_1280.png" alt="Photo of a Shiba Inu">
      <mat-card-header style="min-height: 72px;margin: auto;">
        <mat-card-title>Characters</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="example-card col-lg-2" appearance="outlined">
      <img mat-card-image src="https://cdn.pixabay.com/photo/2017/11/10/05/46/group-2935521_1280.png" alt="Photo of a Shiba Inu">
      <mat-card-header style="min-height: 72px;margin: auto;">
        <mat-card-title>Characters</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="example-card col-lg-2" appearance="outlined">
      <img mat-card-image src="https://cdn.pixabay.com/photo/2017/11/10/05/46/group-2935521_1280.png" alt="Photo of a Shiba Inu">
      <mat-card-header style="min-height: 72px;margin: auto;">
        <mat-card-title>Characters</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="example-card col-lg-2" appearance="outlined">
      <img mat-card-image src="https://cdn.pixabay.com/photo/2017/11/10/05/46/group-2935521_1280.png" alt="Photo of a Shiba Inu">
      <mat-card-header style="min-height: 72px;margin: auto;">
        <mat-card-title>Characters</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="example-card col-lg-2" appearance="outlined">
      <img mat-card-image src="https://cdn.pixabay.com/photo/2017/11/10/05/46/group-2935521_1280.png" alt="Photo of a Shiba Inu">
      <mat-card-header style="min-height: 72px;margin: auto;">
        <mat-card-title>Characters</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="example-card col-lg-2" appearance="outlined">
      <img mat-card-image src="https://cdn.pixabay.com/photo/2017/11/10/05/46/group-2935521_1280.png" alt="Photo of a Shiba Inu">
      <mat-card-header style="min-height: 72px;margin: auto;">
        <mat-card-title>Characters</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="example-card col-lg-2" appearance="outlined">
      <img mat-card-image src="https://cdn.pixabay.com/photo/2017/11/10/05/46/group-2935521_1280.png" alt="Photo of a Shiba Inu">
      <mat-card-header style="min-height: 72px;margin: auto;">
        <mat-card-title>Characters</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="example-card col-lg-2" appearance="outlined">
      <img mat-card-image src="https://cdn.pixabay.com/photo/2017/11/10/05/46/group-2935521_1280.png" alt="Photo of a Shiba Inu">
      <mat-card-header style="min-height: 72px;margin: auto;">
        <mat-card-title>Characters</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="example-card col-lg-2" appearance="outlined">
      <img mat-card-image src="https://cdn.pixabay.com/photo/2017/11/10/05/46/group-2935521_1280.png" alt="Photo of a Shiba Inu">
      <mat-card-header style="min-height: 72px;margin: auto;">
        <mat-card-title>Characters</mat-card-title>
      </mat-card-header>
    </mat-card>

  </div>
</div>
